.gameboard-wrapper {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.gameboard {
    background: darkgray;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-field-vertical{
    width: 25%;
    height: 100%;
    border: 1px solid white;
}

.player-field-horizontal {
    width: 100%;
    height: 100%;
}

.deck-container {
    background: gainsboro;
    height: 75%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.discard-deck{
    height: 100%;
    width: 45%;
    border: 1px solid black;
}

.draw-deck {
    height: 100%;
    width: 45%;
    border: 1px solid black;
}

.uno-draw-deck-img{
    height: 100%;
    width: 100%;
}

.uno-discard-deck-img {
    height: 100%;
    width: 100%;
    opacity: 0.3;
}